<!DOCTYPE html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>SDK Documentation</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
</head>
<body>
  <!--[if lt IE 8]>
  <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->
  
  <div class="container">
    <div class="page-header">
      <h1>
        <small>SDK Documentation</small>
        <br>
        Welcome
      </h1>
    </div>
  </div>
  
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h3><a href="api/index.html">SDK Documentation</a></h3>
        <p>Start exploring the detailed SDK documentation.</p>
        
        <h3>Models</h3>
        <p>Use models to work with instances of API objects.</p>
        <ul>
          
            <li><a href="api/classes/CapitalMarketsActivity.html">CapitalMarketsActivity</a></li>
          
            <li><a href="api/classes/CapitalMarketsContact.html">CapitalMarketsContact</a></li>
          
            <li><a href="api/classes/CapitalMarketsContentService.html">CapitalMarketsContentService</a></li>
          
            <li><a href="api/classes/CapitalMarketsLogin.html">CapitalMarketsLogin</a></li>
          
            <li><a href="api/classes/CapitalMarketsOrder.html">CapitalMarketsOrder</a></li>
          
            <li><a href="api/classes/CapitalMarketsRevenue.html">CapitalMarketsRevenue</a></li>
          
            <li><a href="api/classes/CorporatePaymentsAccount.html">CorporatePaymentsAccount</a></li>
          
            <li><a href="api/classes/CorporatePaymentsBeneficiary.html">CorporatePaymentsBeneficiary</a></li>
          
            <li><a href="api/classes/CorporatePaymentsCrossBorderFxBooking.html">CorporatePaymentsCrossBorderFxBooking</a></li>
          
            <li><a href="api/classes/CorporatePaymentsCrossBorderFxPayment.html">CorporatePaymentsCrossBorderFxPayment</a></li>
          
            <li><a href="api/classes/CorporatePaymentsCrossBorderFxQuote.html">CorporatePaymentsCrossBorderFxQuote</a></li>
          
            <li><a href="api/classes/CorporatePaymentsLogin.html">CorporatePaymentsLogin</a></li>
          
            <li><a href="api/classes/CorporatePaymentsPayment.html">CorporatePaymentsPayment</a></li>
          
            <li><a href="api/classes/RetailBankingAccount.html">RetailBankingAccount</a></li>
          
            <li><a href="api/classes/RetailBankingAccountBalance.html">RetailBankingAccountBalance</a></li>
          
            <li><a href="api/classes/RetailBankingAccountFundTransfer.html">RetailBankingAccountFundTransfer</a></li>
          
            <li><a href="api/classes/RetailBankingAccountTransaction.html">RetailBankingAccountTransaction</a></li>
          
            <li><a href="api/classes/RetailBankingForeignCurrency.html">RetailBankingForeignCurrency</a></li>
          
            <li><a href="api/classes/RetailBankingLocation.html">RetailBankingLocation</a></li>
          
            <li><a href="api/classes/RetailBankingLogin.html">RetailBankingLogin</a></li>
          
            <li><a href="api/classes/RetailBankingPayee.html">RetailBankingPayee</a></li>
          
            <li><a href="api/classes/RetailBankingPayeeType.html">RetailBankingPayeeType</a></li>
          
        </ul>
        
        <h3>Collections</h3>
        <p>
          The primary means of data access:  use collections to fetch and query
          the API.  An API object may have many collections, known as
          query scopes.
          <a href="guides/getting_started_guides/working_with_collections/index.html">Read the quick-start collections guide.</a>
        </p>
        
          <h2 class="quiet">CapitalMarketsActivity</h2>
          <ul>
            
              <li><a href="api/classes/CapitalMarketsActivityAll.html">CapitalMarketsActivityAll</a></li>
            
              <li><a href="api/classes/CapitalMarketsActivityExactMatch.html">CapitalMarketsActivityExactMatch</a></li>
            
              <li><a href="api/classes/CapitalMarketsActivityCount.html">CapitalMarketsActivityCount</a></li>
            
              <li><a href="api/classes/CapitalMarketsActivityCountExactMatch.html">CapitalMarketsActivityCountExactMatch</a></li>
            
              <li><a href="api/classes/CapitalMarketsActivityActivities.html">CapitalMarketsActivityActivities</a></li>
            
          </ul>
        
          <h2 class="quiet">CapitalMarketsContact</h2>
          <ul>
            
              <li><a href="api/classes/CapitalMarketsContactAll.html">CapitalMarketsContactAll</a></li>
            
              <li><a href="api/classes/CapitalMarketsContactExactMatch.html">CapitalMarketsContactExactMatch</a></li>
            
              <li><a href="api/classes/CapitalMarketsContactCount.html">CapitalMarketsContactCount</a></li>
            
              <li><a href="api/classes/CapitalMarketsContactCountExactMatch.html">CapitalMarketsContactCountExactMatch</a></li>
            
              <li><a href="api/classes/CapitalMarketsContactContacts.html">CapitalMarketsContactContacts</a></li>
            
          </ul>
        
          <h2 class="quiet">CapitalMarketsContentService</h2>
          <ul>
            
              <li><a href="api/classes/CapitalMarketsContentServiceAll.html">CapitalMarketsContentServiceAll</a></li>
            
              <li><a href="api/classes/CapitalMarketsContentServiceExactMatch.html">CapitalMarketsContentServiceExactMatch</a></li>
            
              <li><a href="api/classes/CapitalMarketsContentServiceCount.html">CapitalMarketsContentServiceCount</a></li>
            
              <li><a href="api/classes/CapitalMarketsContentServiceCountExactMatch.html">CapitalMarketsContentServiceCountExactMatch</a></li>
            
              <li><a href="api/classes/CapitalMarketsContentServiceContentServices.html">CapitalMarketsContentServiceContentServices</a></li>
            
          </ul>
        
          <h2 class="quiet">CapitalMarketsLogin</h2>
          <ul>
            
              <li><a href="api/classes/CapitalMarketsLoginAll.html">CapitalMarketsLoginAll</a></li>
            
              <li><a href="api/classes/CapitalMarketsLoginExactMatch.html">CapitalMarketsLoginExactMatch</a></li>
            
              <li><a href="api/classes/CapitalMarketsLoginCount.html">CapitalMarketsLoginCount</a></li>
            
              <li><a href="api/classes/CapitalMarketsLoginCountExactMatch.html">CapitalMarketsLoginCountExactMatch</a></li>
            
          </ul>
        
          <h2 class="quiet">CapitalMarketsOrder</h2>
          <ul>
            
              <li><a href="api/classes/CapitalMarketsOrderAll.html">CapitalMarketsOrderAll</a></li>
            
              <li><a href="api/classes/CapitalMarketsOrderExactMatch.html">CapitalMarketsOrderExactMatch</a></li>
            
              <li><a href="api/classes/CapitalMarketsOrderCount.html">CapitalMarketsOrderCount</a></li>
            
              <li><a href="api/classes/CapitalMarketsOrderCountExactMatch.html">CapitalMarketsOrderCountExactMatch</a></li>
            
          </ul>
        
          <h2 class="quiet">CapitalMarketsRevenue</h2>
          <ul>
            
              <li><a href="api/classes/CapitalMarketsRevenueAll.html">CapitalMarketsRevenueAll</a></li>
            
              <li><a href="api/classes/CapitalMarketsRevenueExactMatch.html">CapitalMarketsRevenueExactMatch</a></li>
            
              <li><a href="api/classes/CapitalMarketsRevenueCount.html">CapitalMarketsRevenueCount</a></li>
            
              <li><a href="api/classes/CapitalMarketsRevenueCountExactMatch.html">CapitalMarketsRevenueCountExactMatch</a></li>
            
              <li><a href="api/classes/CapitalMarketsRevenueRevenues.html">CapitalMarketsRevenueRevenues</a></li>
            
          </ul>
        
          <h2 class="quiet">CorporatePaymentsAccount</h2>
          <ul>
            
              <li><a href="api/classes/CorporatePaymentsAccountAll.html">CorporatePaymentsAccountAll</a></li>
            
              <li><a href="api/classes/CorporatePaymentsAccountExactMatch.html">CorporatePaymentsAccountExactMatch</a></li>
            
              <li><a href="api/classes/CorporatePaymentsAccountCount.html">CorporatePaymentsAccountCount</a></li>
            
              <li><a href="api/classes/CorporatePaymentsAccountCountExactMatch.html">CorporatePaymentsAccountCountExactMatch</a></li>
            
          </ul>
        
          <h2 class="quiet">CorporatePaymentsBeneficiary</h2>
          <ul>
            
              <li><a href="api/classes/CorporatePaymentsBeneficiaryAll.html">CorporatePaymentsBeneficiaryAll</a></li>
            
              <li><a href="api/classes/CorporatePaymentsBeneficiaryExactMatch.html">CorporatePaymentsBeneficiaryExactMatch</a></li>
            
              <li><a href="api/classes/CorporatePaymentsBeneficiaryCount.html">CorporatePaymentsBeneficiaryCount</a></li>
            
              <li><a href="api/classes/CorporatePaymentsBeneficiaryCountExactMatch.html">CorporatePaymentsBeneficiaryCountExactMatch</a></li>
            
          </ul>
        
          <h2 class="quiet">CorporatePaymentsCrossBorderFxBooking</h2>
          <ul>
            
              <li><a href="api/classes/CorporatePaymentsCrossBorderFxBookingAll.html">CorporatePaymentsCrossBorderFxBookingAll</a></li>
            
              <li><a href="api/classes/CorporatePaymentsCrossBorderFxBookingExactMatch.html">CorporatePaymentsCrossBorderFxBookingExactMatch</a></li>
            
              <li><a href="api/classes/CorporatePaymentsCrossBorderFxBookingCount.html">CorporatePaymentsCrossBorderFxBookingCount</a></li>
            
              <li><a href="api/classes/CorporatePaymentsCrossBorderFxBookingCountExactMatch.html">CorporatePaymentsCrossBorderFxBookingCountExactMatch</a></li>
            
          </ul>
        
          <h2 class="quiet">CorporatePaymentsCrossBorderFxPayment</h2>
          <ul>
            
              <li><a href="api/classes/CorporatePaymentsCrossBorderFxPaymentAll.html">CorporatePaymentsCrossBorderFxPaymentAll</a></li>
            
              <li><a href="api/classes/CorporatePaymentsCrossBorderFxPaymentExactMatch.html">CorporatePaymentsCrossBorderFxPaymentExactMatch</a></li>
            
              <li><a href="api/classes/CorporatePaymentsCrossBorderFxPaymentCount.html">CorporatePaymentsCrossBorderFxPaymentCount</a></li>
            
              <li><a href="api/classes/CorporatePaymentsCrossBorderFxPaymentCountExactMatch.html">CorporatePaymentsCrossBorderFxPaymentCountExactMatch</a></li>
            
              <li><a href="api/classes/CorporatePaymentsCrossBorderFxPaymentFxPayments.html">CorporatePaymentsCrossBorderFxPaymentFxPayments</a></li>
            
          </ul>
        
          <h2 class="quiet">CorporatePaymentsCrossBorderFxQuote</h2>
          <ul>
            
              <li><a href="api/classes/CorporatePaymentsCrossBorderFxQuoteAll.html">CorporatePaymentsCrossBorderFxQuoteAll</a></li>
            
              <li><a href="api/classes/CorporatePaymentsCrossBorderFxQuoteExactMatch.html">CorporatePaymentsCrossBorderFxQuoteExactMatch</a></li>
            
              <li><a href="api/classes/CorporatePaymentsCrossBorderFxQuoteCount.html">CorporatePaymentsCrossBorderFxQuoteCount</a></li>
            
              <li><a href="api/classes/CorporatePaymentsCrossBorderFxQuoteCountExactMatch.html">CorporatePaymentsCrossBorderFxQuoteCountExactMatch</a></li>
            
          </ul>
        
          <h2 class="quiet">CorporatePaymentsLogin</h2>
          <ul>
            
              <li><a href="api/classes/CorporatePaymentsLoginAll.html">CorporatePaymentsLoginAll</a></li>
            
              <li><a href="api/classes/CorporatePaymentsLoginExactMatch.html">CorporatePaymentsLoginExactMatch</a></li>
            
              <li><a href="api/classes/CorporatePaymentsLoginCount.html">CorporatePaymentsLoginCount</a></li>
            
              <li><a href="api/classes/CorporatePaymentsLoginCountExactMatch.html">CorporatePaymentsLoginCountExactMatch</a></li>
            
          </ul>
        
          <h2 class="quiet">CorporatePaymentsPayment</h2>
          <ul>
            
              <li><a href="api/classes/CorporatePaymentsPaymentAll.html">CorporatePaymentsPaymentAll</a></li>
            
              <li><a href="api/classes/CorporatePaymentsPaymentExactMatch.html">CorporatePaymentsPaymentExactMatch</a></li>
            
              <li><a href="api/classes/CorporatePaymentsPaymentCount.html">CorporatePaymentsPaymentCount</a></li>
            
              <li><a href="api/classes/CorporatePaymentsPaymentCountExactMatch.html">CorporatePaymentsPaymentCountExactMatch</a></li>
            
          </ul>
        
          <h2 class="quiet">RetailBankingAccount</h2>
          <ul>
            
              <li><a href="api/classes/RetailBankingAccountAll.html">RetailBankingAccountAll</a></li>
            
              <li><a href="api/classes/RetailBankingAccountExactMatch.html">RetailBankingAccountExactMatch</a></li>
            
              <li><a href="api/classes/RetailBankingAccountCount.html">RetailBankingAccountCount</a></li>
            
              <li><a href="api/classes/RetailBankingAccountCountExactMatch.html">RetailBankingAccountCountExactMatch</a></li>
            
          </ul>
        
          <h2 class="quiet">RetailBankingAccountBalance</h2>
          <ul>
            
              <li><a href="api/classes/RetailBankingAccountBalanceAll.html">RetailBankingAccountBalanceAll</a></li>
            
              <li><a href="api/classes/RetailBankingAccountBalanceExactMatch.html">RetailBankingAccountBalanceExactMatch</a></li>
            
              <li><a href="api/classes/RetailBankingAccountBalanceCount.html">RetailBankingAccountBalanceCount</a></li>
            
              <li><a href="api/classes/RetailBankingAccountBalanceCountExactMatch.html">RetailBankingAccountBalanceCountExactMatch</a></li>
            
          </ul>
        
          <h2 class="quiet">RetailBankingAccountFundTransfer</h2>
          <ul>
            
              <li><a href="api/classes/RetailBankingAccountFundTransferAll.html">RetailBankingAccountFundTransferAll</a></li>
            
              <li><a href="api/classes/RetailBankingAccountFundTransferExactMatch.html">RetailBankingAccountFundTransferExactMatch</a></li>
            
              <li><a href="api/classes/RetailBankingAccountFundTransferCount.html">RetailBankingAccountFundTransferCount</a></li>
            
              <li><a href="api/classes/RetailBankingAccountFundTransferCountExactMatch.html">RetailBankingAccountFundTransferCountExactMatch</a></li>
            
          </ul>
        
          <h2 class="quiet">RetailBankingAccountTransaction</h2>
          <ul>
            
              <li><a href="api/classes/RetailBankingAccountTransactionAll.html">RetailBankingAccountTransactionAll</a></li>
            
              <li><a href="api/classes/RetailBankingAccountTransactionExactMatch.html">RetailBankingAccountTransactionExactMatch</a></li>
            
              <li><a href="api/classes/RetailBankingAccountTransactionCount.html">RetailBankingAccountTransactionCount</a></li>
            
              <li><a href="api/classes/RetailBankingAccountTransactionCountExactMatch.html">RetailBankingAccountTransactionCountExactMatch</a></li>
            
          </ul>
        
          <h2 class="quiet">RetailBankingForeignCurrency</h2>
          <ul>
            
              <li><a href="api/classes/RetailBankingForeignCurrencyAll.html">RetailBankingForeignCurrencyAll</a></li>
            
              <li><a href="api/classes/RetailBankingForeignCurrencyExactMatch.html">RetailBankingForeignCurrencyExactMatch</a></li>
            
              <li><a href="api/classes/RetailBankingForeignCurrencyCount.html">RetailBankingForeignCurrencyCount</a></li>
            
              <li><a href="api/classes/RetailBankingForeignCurrencyCountExactMatch.html">RetailBankingForeignCurrencyCountExactMatch</a></li>
            
              <li><a href="api/classes/RetailBankingForeignCurrencyForeignCurrency.html">RetailBankingForeignCurrencyForeignCurrency</a></li>
            
          </ul>
        
          <h2 class="quiet">RetailBankingLocation</h2>
          <ul>
            
              <li><a href="api/classes/RetailBankingLocationAll.html">RetailBankingLocationAll</a></li>
            
              <li><a href="api/classes/RetailBankingLocationExactMatch.html">RetailBankingLocationExactMatch</a></li>
            
              <li><a href="api/classes/RetailBankingLocationCount.html">RetailBankingLocationCount</a></li>
            
              <li><a href="api/classes/RetailBankingLocationCountExactMatch.html">RetailBankingLocationCountExactMatch</a></li>
            
              <li><a href="api/classes/RetailBankingLocationLocations.html">RetailBankingLocationLocations</a></li>
            
          </ul>
        
          <h2 class="quiet">RetailBankingLogin</h2>
          <ul>
            
              <li><a href="api/classes/RetailBankingLoginAll.html">RetailBankingLoginAll</a></li>
            
              <li><a href="api/classes/RetailBankingLoginExactMatch.html">RetailBankingLoginExactMatch</a></li>
            
              <li><a href="api/classes/RetailBankingLoginCount.html">RetailBankingLoginCount</a></li>
            
              <li><a href="api/classes/RetailBankingLoginCountExactMatch.html">RetailBankingLoginCountExactMatch</a></li>
            
          </ul>
        
          <h2 class="quiet">RetailBankingPayee</h2>
          <ul>
            
              <li><a href="api/classes/RetailBankingPayeeAll.html">RetailBankingPayeeAll</a></li>
            
              <li><a href="api/classes/RetailBankingPayeeExactMatch.html">RetailBankingPayeeExactMatch</a></li>
            
              <li><a href="api/classes/RetailBankingPayeeCount.html">RetailBankingPayeeCount</a></li>
            
              <li><a href="api/classes/RetailBankingPayeeCountExactMatch.html">RetailBankingPayeeCountExactMatch</a></li>
            
          </ul>
        
          <h2 class="quiet">RetailBankingPayeeType</h2>
          <ul>
            
              <li><a href="api/classes/RetailBankingPayeeTypeAll.html">RetailBankingPayeeTypeAll</a></li>
            
              <li><a href="api/classes/RetailBankingPayeeTypeExactMatch.html">RetailBankingPayeeTypeExactMatch</a></li>
            
              <li><a href="api/classes/RetailBankingPayeeTypeCount.html">RetailBankingPayeeTypeCount</a></li>
            
              <li><a href="api/classes/RetailBankingPayeeTypeCountExactMatch.html">RetailBankingPayeeTypeCountExactMatch</a></li>
            
          </ul>
        
      </div>
      <div class="col-md-6">
        {{#guides}}
          <h4 class="text-muted">{{ title }}</h4>
          <ul>
            {{#items}}
              <li>
                <h5><a href="guides/{{ section_name }}/{{ name }}/index.html">{{ title }}</a></h5>
                <p>{{ description }}</p>
              </li>
            {{/items}}
          </ul>
        {{/guides}}
      </div>
    </div>
    
    <hr>
  </div>
  
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
</body>
</html>
